.loader {
  	width: 75px;
  	height: 75px;
  	border: 5px solid #FFFFFF; /* Light grey */
  	border-radius: 50%;
  	border-top: 5px solid #365DF0; /* Blue */
  	border-bottom: 5px solid #365DF0; /* Blue */
    border-left : 5px solid #365DF0;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 1s linear infinite;
    display: inline-block;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}