ul {
	display: inline-block;
	list-style-type: none;
}

.App { text-align: center; }

@media (max-width: 600px) 
{
  .w-50{
  	width: 100%
  }
}
.pesquisaInput {
	background-image: url(../helpers/icones/lupaBossabox.svg);
	background-repeat: no-repeat;
	background-color: #F5F4F6;
	padding-left: 30px;
	border: 1px solid #EBEAED;
}